body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
 
}

li {
  padding-top: 10px;
  list-style-type: none;
  /* transform: translateX(-15%); */
}

li button{
  width: 120px;
  margin-right: 15px;

  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;

}


li button:hover {
  background-color: #f7fafa;
}

li button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

li button.step-now{
  background-color: palegreen;
}

li span{
  /* font-weight: 600;  */
  letter-spacing: 1px;
}

.active{
  font-weight: bold;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  height: 70px;
  width: 70px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  /* padding-top: 5px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.result{
  font-size: 0.95rem;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: plum;
}